.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.add-task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    width: 400px;
    padding: 10px;
    
  }
  .tasks-container{
      display:flex ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 20px;
      background-color: aliceblue;
      width: 400px;
      padding: 10px;
      
  }
  .tasks{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
         
  }
  .img-add{
      width: 10px;
      height: 10px;
      cursor: pointer;
      
  }
  .img-del ,.img-edit{
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .Ptasks{
      margin: 10px;
      width: 250px;
  }
  .input{
    margin: 10px;
    text-align: center;
    font-weight: lighter;
    color: rgb(70, 70, 70);
    width: 300px;
    
  }
  .input:focus{
   outline: none;
    
  }
  .input-tasks{
    width: 300px;
    outline: none;
  }